In [4]:
import pandas as pd
import numpy as np
import sklearn
import seaborn
import re

movies = pd.read_csv('ml-32m/movies.csv')
ratings = pd.read_csv('ml-32m/ratings.csv')
tags = pd.read_csv('ml-32m/tags.csv')

def get_year(title):
    match = re.search(r'\((\d{4})\)', title)
    if match: 
        return int(match.group(1))
    return None

#adding a year column to the movies dataframe
movies['year']= movies['title'].apply(get_year)

In [6]:
movies['year'] = movies['year'].astype('Int64')

In [7]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [8]:
recent_movies = movies[movies['year'] >= 2020]
recent_movies.head()

,movieId,title,genres,year
64069,209311,Waves (2020),Drama|Romance,2020
64491,210455,Gretel & Hansel (2020),Fantasy|Horror|Thriller,2020
64497,210469,Like a Boss (2020),Comedy,2020
64539,210569,Birds of Prey (And the Fantabulous Emancipatio...,Action|Adventure|Crime,2020
64540,210571,Fantasy Island (2020),Fantasy|Horror|Sci-Fi,2020

In [9]:
recent_movies = movies[movies['year'] >= 2020]
recent_movie_ratings = ratings[ratings['movieId'].isin(recent_movies['movieId'])]
recent_movie_tags = tags[tags['movieId'].isin(recent_movies['movieId'])]
print("Movies dataset size:", movies.shape)
print("Recent movies dataset size:", recent_movies.shape)
print("Ratings dataset size:", ratings.shape)
print("Recent movie ratings dataset size:", recent_movie_ratings.shape)
print("Tags dataset size:", tags.shape)
print("Recent movie tags dataset size:", recent_movie_tags.shape)

Movies dataset size: (87585, 4)
Recent movies dataset size: (7986, 4)
Ratings dataset size: (32000204, 4)
Recent movie ratings dataset size: (273932, 4)
Tags dataset size: (2000072, 4)
Recent movie tags dataset size: (72910, 4)

In [10]:
print(recent_movies.isnull().sum())
print(recent_movie_ratings.isnull().sum())

movieId    0
title      0
genres     0
year       0
dtype: int64
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [12]:
duplicates = recent_movies[recent_movies.duplicated()]
print("Duplicate rows in recent_movies:")
print(duplicates)

Duplicate rows in recent_movies:
Empty DataFrame
Columns: [movieId, title, genres, year]
Index: []